* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    padding: 0 3rem;
    background-color: purple;
    border-radius: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.before {
    transform: translateY(40px);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}

.box:hover .before {
    transform: translateY(-100px);
    transition: all .2s ease-in-out;
}

.before p {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.after {
    display: flex;
    gap: 2rem;
    padding: 0px 15px;
    transition: all .2s ease-in-out;
}

.after i {
    color: white;
    font-size: 5rem;
}

.i1 {
    transform: translateY(90px);
    transition: all .2s ease-in-out;
}

.i2 {
    transform: translateY(90px);
    transition: all .4s ease-in-out;
}

.i3 {
    transform: translateY(90px);
    transition: all .6s ease-in-out;

}


.box:hover .i1 {
    transform: translateY(-60px);
    transition: transform .2s ease-in-out, color .15s ease-in-out;
}

.box:hover .i2 {
    transform: translateY(-60px);
    transition: transform .4s ease-in-out, color .15s ease-in-out;
}

.box:hover .i3 {
    transform: translateY(-60px);
    transition: transform .6s ease-in-out, color .15s ease-in-out;

}

.i1:hover {
    color: #4267B2;
}

.i2:hover {
    color: #1DA1F2;
}

.i3:hover {
    color: tomato;
}